flows.json
[{"id":"8231ad0a.1d507","type":"tab","label":"Garage / Doorbell","disabled":false,"info":""},{"id":"a1d955d1.192428","type":"tab","label":"Bedroom","disabled":false,"info":""},{"id":"3b383062.16fee","type":"tab","label":"Automations","disabled":false,"info":""},{"id":"a8c22cbd.43422","type":"server","name":"Home Assistant","addon":true},{"id":"41979cc6.303f64","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"d9847231.bb26e","type":"hue-bridge","name":"Philips hue","bridge":"192.168.1.230","key":"WaDXG-ML-TP16f6UZcz7-Hi9bZD-PzkL3aWNjkeo","interval":"3000","disableupdates":false},{"id":"7858568a.22b178","type":"trigger-state","z":"8231ad0a.1d507","name":"Doorbell Ring?","server":"a8c22cbd.43422","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"binary_sensor.driveway_door_ding","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on","propertyValue":"new_state.state"}],"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":120,"y":200,"wires":[["d875cbe0.ad7ef8","88724906.df7b18"],["b8231498.99e8d8"]]},{"id":"b8231498.99e8d8","type":"api-call-service","z":"8231ad0a.1d507","name":"Turn on Living Room Light","server":"a8c22cbd.43422","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.living_room_torchiere","data":"{\"white_value\":255,\"rgb_color\":[0,255,0],\"brightness\":255,\"transition\":15}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":280,"y":260,"wires":[["86ef699f.d31ff8"]]},{"id":"88724906.df7b18","type":"api-call-service","z":"8231ad0a.1d507","name":"Notify Marty","server":"a8c22cbd.43422","version":1,"debugenabled":false,"service_domain":"notify","service":"mobile_app_martha_s_iphone","entityId":"","data":"{ \"message\": \"Doorbell! Doorbell!\" }","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":410,"y":120,"wires":[[]]},{"id":"d875cbe0.ad7ef8","type":"api-call-service","z":"8231ad0a.1d507","name":"Nofity Nick","server":"a8c22cbd.43422","version":1,"debugenabled":false,"service_domain":"notify","service":"mobile_app_nicks_iphone","entityId":"","data":"{ \"message\": \"Tell Marty the pizza is here\" }","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":410,"y":60,"wires":[[]]},{"id":"e6e72aca.9e2268","type":"hue-switch","z":"a1d955d1.192428","name":"Bedroom Switch","bridge":"d9847231.bb26e","sensorid":"10","skipevents":false,"universalevents":false,"x":130,"y":100,"wires":[["33c4d7e0.ec0bc8","dbc24bd6.f739e8"]]},{"id":"33c4d7e0.ec0bc8","type":"debug","z":"a1d955d1.192428","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":670,"y":100,"wires":[]},{"id":"dbc24bd6.f739e8","type":"switch","z":"a1d955d1.192428","name":"Hue Dimmer Actions","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"name: \"On\" action: \"short released\"","vt":"str"},{"t":"cont","v":"name: \"On\" action: \"long released\"","vt":"str"},{"t":"cont","v":"name: \"Dim Up\" action: \"short released\"","vt":"str"},{"t":"cont","v":"name: \"Dim Up\" action: \"long released\"","vt":"str"},{"t":"cont","v":"name: \"Dim Down\" action: \"short released\"","vt":"str"},{"t":"cont","v":"name: \"Dim Down\" action: \"long released\"","vt":"str"},{"t":"cont","v":"name: \"Off\" action: \"short released\"","vt":"str"},{"t":"cont","v":"name: \"Off\" action: \"long released\"","vt":"str"}],"checkall":"true","repair":false,"outputs":8,"x":340,"y":240,"wires":[[],[],[],[],[],[],[],[]]},{"id":"86ef699f.d31ff8","type":"hue-light","z":"8231ad0a.1d507","name":"Liv Rm Bulb","bridge":"d9847231.bb26e","lightid":"13","colornamer":true,"skipevents":false,"universalevents":false,"x":440,"y":200,"wires":[[]]},{"id":"de0886b1.a7c028","type":"server-state-changed","z":"3b383062.16fee","name":"Nick Home?","server":"a8c22cbd.43422","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.nickhome","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":false,"for":"","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":110,"y":80,"wires":[[],["7b030002.045ac"]]},{"id":"5c50473a.2e76c8","type":"server-state-changed","z":"3b383062.16fee","name":"Marty Home","server":"a8c22cbd.43422","version":"1","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.martyhome","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":false,"for":"","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":110,"y":140,"wires":[[],["3c846fc4.f03b6"]]},{"id":"7b030002.045ac","type":"api-current-state","z":"3b383062.16fee","name":"Marty Home?","server":"a8c22cbd.43422","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.martyhome","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":350,"y":80,"wires":[[],["8f96cd32.02348"]]},{"id":"3c846fc4.f03b6","type":"api-current-state","z":"3b383062.16fee","name":"Nick Home","server":"a8c22cbd.43422","version":"1","outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.nickhome","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":330,"y":140,"wires":[[],["8f96cd32.02348"]]},{"id":"90e05973.d60698","type":"server-state-changed","z":"3b383062.16fee","name":"Nick Home?","server":"a8c22cbd.43422","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.nickhome","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":false,"for":"","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":110,"y":220,"wires":[[],["d37e441e.1913e8"]]},{"id":"7f080f6d.7b385","type":"server-state-changed","z":"3b383062.16fee","name":"Marty Home?","server":"a8c22cbd.43422","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.martyhome","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":false,"for":"","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":110,"y":280,"wires":[[],["d37e441e.1913e8"]]},{"id":"5f73ff31.c13f3","type":"api-call-service","z":"3b383062.16fee","name":"Home Unoccupied","server":"a8c22cbd.43422","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.homeoccupied","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":770,"y":80,"wires":[["b037adac.ba68f"]]},{"id":"d37e441e.1913e8","type":"api-call-service","z":"3b383062.16fee","name":"Home Occupied","server":"a8c22cbd.43422","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.homeoccupied","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":340,"y":220,"wires":[[]]},{"id":"8f96cd32.02348","type":"api-current-state","z":"3b383062.16fee","name":"House Guests?","server":"a8c22cbd.43422","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.houseguests","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":560,"y":80,"wires":[[],["5f73ff31.c13f3"]]},{"id":"7f456253.e8dcac","type":"server-state-changed","z":"3b383062.16fee","name":"Nick Location","server":"a8c22cbd.43422","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"device_tracker.nicks_iphone","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"home","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":110,"y":360,"wires":[["54cbd4a6.28eaac"],["445c78f3.388ae8"]],"outputLabels":["home","away"]},{"id":"445c78f3.388ae8","type":"api-call-service","z":"3b383062.16fee","name":"Set Away","server":"a8c22cbd.43422","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.nickhome","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":340,"y":380,"wires":[[]]},{"id":"54cbd4a6.28eaac","type":"api-call-service","z":"3b383062.16fee","name":"Set Home","server":"a8c22cbd.43422","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.nickhome","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":340,"y":340,"wires":[[]]},{"id":"3b39f329.52082c","type":"server-state-changed","z":"3b383062.16fee","name":"Marty Location","server":"a8c22cbd.43422","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"device_tracker.martha_s_iphone","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"home","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":120,"y":460,"wires":[["870f8307.38921"],["3f69a2c5.70053e"]],"outputLabels":["home","away"]},{"id":"3f69a2c5.70053e","type":"api-call-service","z":"3b383062.16fee","name":"Set Away","server":"a8c22cbd.43422","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.martyhome","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":340,"y":480,"wires":[[]]},{"id":"870f8307.38921","type":"api-call-service","z":"3b383062.16fee","name":"Set Home","server":"a8c22cbd.43422","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.martyhome","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":340,"y":440,"wires":[[]]},{"id":"b037adac.ba68f","type":"api-call-service","z":"3b383062.16fee","name":"Sent Message to Nick iPhone","server":"a8c22cbd.43422","version":1,"debugenabled":false,"service_domain":"notify","service":"mobile_app_nicks_iphone","entityId":"","data":"{ \"message\": \"House Unoccupied\" }","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1050,"y":80,"wires":[[]]},{"id":"a5930d50.74c53","type":"debug","z":"3b383062.16fee","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":370,"y":640,"wires":[]},{"id":"a3f5a05d.d6d28","type":"server-state-changed","z":"3b383062.16fee","name":"Garage Door","server":"a8c22cbd.43422","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"cover.garage_door","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"opening","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":110,"y":640,"wires":[["a5930d50.74c53"],["a5930d50.74c53"]],"outputLabels":["open","closed"]},{"id":"3abb02c5.f2498e","type":"trigger-state","z":"8231ad0a.1d507","name":"","server":"a8c22cbd.43422","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"input_boolean.ha_good_night_boolan","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"","propertyValue":"new_state.state"}],"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":240,"y":360,"wires":[[],[]]}]